@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

/* @layer components {
  .layout-container {
    @apply mx-auto px-6 lg:max-w-[calc(100vw-8rem)] lg:px-0;
  }
} */

/* * {
  border: 2px solid red;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e22ce;
}
